{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/myorders.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="row shop-featured-product">
  <div class="col-12 featured-products">
    {% for order in order_items %}
      <div class="featured-product-box">        <h3>Order ID: {{ order.id }}</h3>
        <p>Total: {{ order.total_amount }}</p>
        <ul class="myorder-list">
          {% for item in order.orderitem_set.all %}
            <li>
              <p>Product: {{ item.product.name }}</p>
              <p>Price: {{ item.price }}</p>
              <p>Quantity: {{ item.quantity }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>

  </div>
</div>
</body>
</html>