{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/payment.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="row payment">
      <form action="" class="payment-form">
        <h1>Secure Payment</h1>
        <h4>Order #12345 | Total: $1,050</h4>
        <div class="payment-options">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>please complete your payment to confirm your order</p>
        <button class="btn bg-primary text-white">Pay Now</button>

        <p>Your payment is 100% secure</p>
        <div class="payment-options">
            <div></div>
            <div></div>
            <div></div>
        </div>
      </form>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
